* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    aspect-ratio: 1/1;
}

.controls {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}

.pixel {
    border: 1px solid black;
    flex: 1;
}

#resize {
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: auto;
}